// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import 'src/theme.scss';

// Use mat-color to extract individual colors from a palette as necessary.
.mat-toolbar {
  background-color: mat-color($tsaday-app-primary);
  border-color: mat-color($tsaday-app-primary, A400);
  color: mat-color($mat-grey, 200);
  line-height: 40px;
}
